<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Stock Report</title>
    <link rel="stylesheet" href="/css/product-stock-report.css">
</head>
<body>
    <h1>Product Stock Report</h1>
    <table border ="1">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Shop Name</th>
                <th>Quantity Bought</th>
                <th>Quantity Sold</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <% stocks.forEach(stock => { %>
                <tr>
                    <td><%= stock.productId.name %></td>
                    <td><%= stock.shopId.name %></td>
                    <td><%= stock.quantityBuy %></td>
                    <td><%= stock.quantitySale %></td>
                    <td><%= stock.date.toLocaleDateString() %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
